# Exercise Questions for Topic 4

In [2]:
import pandas as pd
import numpy as np

## 1

### 1.b

In [3]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[:14:2,:]

In [4]:
df

       m   yield         z
0   0.25  0.0633  0.984541
2   0.75  0.0662  0.952328
4   1.25  0.0679  0.919922
6   1.75  0.0687  0.888513
8   2.25  0.0689  0.858632
10  2.75  0.0686    0.8307
12  3.25   0.068  0.804668

In [5]:
df['c_rate'] = [0.03,]*6+[1.03,]
df['c'] = df['z']*df['c_rate']

df['w'] = df['c']/df['c'].sum()

# 久期
D = (df['w']*df['m']).sum()
D

2.95415673810259

### 1.e

In [17]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df = df.iloc[1:12:2,:]

In [18]:
P_fr = 100
df['z'] = 1/(1+df['yield']/2)**(2*df['m'])
df['c_rate'] = [0.35/200,]*6
df['c'] = df['c_rate']*df['z']*100
P = P_fr+df['c'].sum()
P

100.93522514957634

In [19]:
D = P_fr/P*0.5+(df['c']*df['m']/P).sum()
D

0.5111221278354675

### 1.f

浮动利率且 $s\not=0$，期限不可以被频率整除，久期计算考虑一个浮动利率且 $s=0$ 和只计算票息的债券的资产组合

In [5]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]

df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[:17:2,:]
df['c_rate'] = [0.5/200,]*9

In [6]:
# 计算浮动利率债券的价格
# 假设 r(0) = 0.064

p_fr = 100*df['z'][0]*(1+0.064/2)
p_fr

101.6046317222705

In [7]:
# 计算总值d 
df['c'] = df['c_rate']*df['z']*100
p_total = df['c'].sum()+p_fr
p_total

103.5491278218691

In [8]:
# 计算久期
D = p_fr/p_total*0.25+(df['c']/p_total*df['m']).sum()
D

0.2854936847822395

## 2

### 2.a

In [13]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])

In [14]:
# yield
y = (1/df.loc[11,'z'])**(1/3)-1
y

0.06946622249999979

In [16]:
# 调整后久期
p = 100/(1+y)**6
MD = 3/(1+y/2)
MD

2.8992983479342582

In [17]:
# Mc Duration
Mc = MD*(1+y/2)
Mc

3.0

### 2.b

In [18]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[:14:2,:]
df['c_rate'] = [0.03,]*6+[1.03,]
df['c'] = df['z']*df['c_rate']*100
df['w'] = df['c']/df['c'].sum()

In [19]:
# 用z求解出债券价格Pc
Pc = df['c'].sum()
Pc

99.18466773910143

In [240]:
# 二分法数值求解yield
max = 1000
y_d = 0
y_u = 1
def func(y):
    x = 100/(1+y/2)**(2*3.25)
    for j in range(7):
        x+= (100*0.03)/(1+y/2)**(2*((j+1)*0.5-0.25))
    return x
x_p = 1000
while(np.abs(x_p)>0.00001):
    x_u = func(y_u)-Pc
    x_d = func(y_d)-Pc
    y_p = (y_u+y_d)/2
    x_p = func(y_p)-Pc
    if x_p*x_u<0:
        y_d = y_p
    elif x_p*x_d<0:
        y_u = y_p
y = y_p
y

0.06801682710647583

In [241]:
# 久期
D = (df['w']*df['m']).sum()
D

2.9542453197418936

In [244]:
# 调整后久期
df["temp"] = [1/(1+y/2)**(2*((i+1)*0.5-0.25)) for i in range(7)]
df['w'] = df['temp']*df['c_rate']*100/Pc
MD = (df['w']*df['m']).sum()/(1+y/2)
MD

2.857080478328212

In [245]:
# Mc Duration
Mc = MD*(1+y/2)
Mc

2.9542452527900807

## 3

### 3.a

In [259]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[1:21:2,:]

In [260]:
df

      m   yield         z
1   0.5  0.0649   0.96857
3     1  0.0671  0.936132
5   1.5  0.0684  0.904037
7     2  0.0688  0.873466
9   2.5  0.0688  0.844418
11    3  0.0683  0.817521
13  3.5  0.0676    0.7924
15    4  0.0667  0.769167
17  4.5  0.0657  0.747592
19    5  0.0645  0.728033

In [266]:
# Price
df['c_rate'] = [0.04/2,]*9+[1.02]
p_total = (df["c_rate"]*df["z"]*100).sum()
p_total

89.5659736786322

In [268]:
# Duration
df['w'] = df["c_rate"]*df["z"]*100/p_total
D = (df['w']*df['m']).sum()
D

4.5541773669541215

In [270]:
# $ Duratinon
D_ = D*p_total
D_

407.89933017643534

### 3.b

In [306]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[1:29:2,:]

In [307]:
# Price
p_total = df['z'][27]*100
p_total

67.61244892580068

In [308]:
# Duration
-7

-7

In [311]:
# $ Duration
print("($"+str(p_total*7)+")")

($473.28714248060476)

### 3.c

In [300]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[:14,:]

In [301]:
df

       m   yield         z
0   0.25  0.0633  0.984541
1    0.5  0.0649   0.96857
2   0.75  0.0662  0.952328
3      1  0.0671  0.936132
4   1.25  0.0679  0.919922
5    1.5  0.0684  0.904037
6   1.75  0.0687  0.888513
7      2  0.0688  0.873466
8   2.25  0.0689  0.858632
9    2.5  0.0688  0.844418
10  2.75  0.0686    0.8307
11     3  0.0683  0.817521
12  3.25   0.068  0.804668
13   3.5  0.0676    0.7924

In [302]:
df['c_rate'] = [0.07/4,]*13+[1+0.07/4]

In [303]:
# Price
p_total = (df['z']*df['c_rate']*100).sum()
p_total

100.89770279848634

In [299]:
# Duration
df['c'] = df['z']*df['c_rate']*100
df['w'] = df['c']/df['c'].sum()
D = (df['w']*df['m']).sum()
D

3.136491996535655

In [304]:
# $ Duration
D_ = D*p_total
D_

316.4648372962855

### 3.d

In [305]:
# Price
100
# Duration
0.5
# $ Duration
50

50

### 3.e

In [314]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[:10:2,:]

In [315]:
df

      m   yield         z
0  0.25  0.0633  0.984541
2  0.75  0.0662  0.952328
4  1.25  0.0679  0.919922
6  1.75  0.0687  0.888513
8  2.25  0.0689  0.858632

In [327]:
# Price
# assume r(0) = 1/z(0,0.25)-1
P_fr = 100
P_fr

100

In [328]:
# Duration
D = -0.25
D

-0.25

In [329]:
# $ Duration
D_ = -P_fr*D
D_

25.0

### 3.f

In [41]:
df = pd.read_excel("Topic4_3.6.xlsx",header=None).iloc[:-6,:]
df.columns=["m","yield"]
df['z']=1/(df['yield']/2+1)**(2*df['m'])
df = df.iloc[:22:2,:]

In [42]:
# Price
# assume r(0) = 0.064 (不知道到底是啥，，，随便写吧)
df['c_rate'] = [0.25/200,]*(len(df['z']))
p_fr = 100*df['z'][0]*(1+0.064/2)
p_c = (df['c_rate']*df['z']).sum()*100
p_total = p_c+p_fr
p_total

102.7589298546452

In [43]:
# Duration
df['w'] = df['c_rate']*df['z']*p_fr/p_total
D = -(df['w']*df['m']).sum()-p_fr/p_total*0.25
D

-0.2767597447307018

In [44]:
# $ Duration
D_ = -D*p_total
D_

28.4395351953717

## 4

### 4.a

In [45]:
df = pd.read_excel("Topic4_3.7.xlsx",header=0)

In [46]:
20+20-30

10

### 4.b

**Duration of the 6-year floating rate bonds(million)**

- long a fixed coupon bond (c_rate = 20%) and a zero bond
- short a floating rate coupon bond (s = 0)

In [47]:
# the fixed coupon bond
df_1 = df.copy()
df_1['c_rate'] = [0.2/4,]*23+[1+0.2/4]
df_1['c'] = df_1['c_rate']*df_1['z1']*100
df_1['w'] = df_1['c']/df_1['c'].sum()
P_fx = df_1['c'].sum()
D_fx = (df_1['w']*df_1['m']).sum()

# the zero bond
df_2 = df.copy()
df_2['c_rate'] = [0,]*23+[1]
df_2['c'] = df_2['c_rate']*df_2['z1']*100
df_2['w'] = df_2['c']/df_2['c'].sum()
P_z = df_2['c'].sum()
D_z = (df_2['w']*df_2['m']).sum()

# the floating rate coupon
P_fr = 100
D_fr = 0.25

D1 = P_fx/(P_z+P_fx-P_fr)*D_fx+P_z/(P_z+P_fx-P_fr)*D_z-P_fr/(P_z+P_fx-P_fr)*D_fr
P1 = P_z+P_fx-P_fr
N1 = 20/P1
D_d1 = P1*D1
D_d_N1 = P1*D1*N1
print("Price: {}\nN: {}\n$D: {}\n$D X N: {}".format(P1,D1,D_d1,D_d_N1))

Price: 146.48250000000002
N: 7.784620176471592
$D: 1140.310625
$D X N: 155.69240352943183

**Duration of the 4-year floating rate bonds (million)**

In [48]:
df_3 = df.copy().iloc[1:16:2,:]
df_3['c_rate'] = [.45/200,]*8
df_3['c'] = df_3['c_rate']*df_3['z1']*100
P2 = 100+df_3['c'].sum()
df_3['w'] = df_3["c"]/P2
D2 = 100/P2*0.5+(df_3['m']*df_3['w']).sum()
N2 = 20/P2
D_d2 = D2*P2
D_d_N2 = D2*P2*N2
print("Price: {}\nN: {}\n$D: {}\n$D X N: {}".format(P2,N2,D_d2,D_d_N2))

Price: 101.623015
N: 0.1968058121479667
$D: 53.53764124999999
$D X N: 10.53651896669273

**Duration of the 5-year zero coupon bond(million)**

In [49]:
df_3 = df.iloc[19,:]
P3 = df_3['z1']*100
D3 = 5
N3 = 30/P3
D_d3 = D3*P3
D_d_N3 = D3*P3*N3
print("Price: {}\nN: {}\n$D: {}\n$D X N: {}".format(P3,N3,D_d3,D_d_N3))

Price: 76.41
N: 0.39261876717707106
$D: 382.04999999999995
$D X N: 149.99999999999997

**Portfolio**

In [50]:
# $ D
D = 20*D1+20*D2-30*D3
D

16.228922496124596

## 5

### 5.a

In [51]:
df = pd.read_excel("Topic4_3.7.xlsx",header=0)
df = df[1:12:2]

In [52]:
df['c_rate'] = [0.04/2,]*5+[1+0.04/2]
df['c'] = df['c_rate']*100*df['z1']
df['w'] = df['c']/df['c'].sum()
P_ = df['c'].sum()
D_ = (df['w']*df['m']).sum()
P_short = D/D_

N_short = P_short/P_
P_short

5.68683217263503

### 5.b

In [669]:
10-P_short

4.31316782736497

## 6

### 6.a

In [54]:
df = pd.read_excel("Topic4_3.7.xlsx",header=0)

In [55]:
# the fixed coupon bond
df_1 = df.copy().iloc[:-1,:]
df_1['c_rate'] = [0.2/4,]*22+[1+0.2/4]
df_1['c'] = df_1['c_rate']*df_1['z2']*100
df_1['w'] = df_1['c']/df_1['c'].sum()
P_fx = df_1['c'].sum()

# the zero bond
df_2 = df.copy().iloc[:-1,:]
df_2['c_rate'] = [0,]*22+[1]
df_2['c'] = df_2['c_rate']*df_2['z2']*100
df_2['w'] = df_2['c']/df_2['c'].sum()
P_z = df_2['c'].sum()

# the floating rate coupon
P_fr = 100
P1_ = P_z+P_fx-P_fr


df_3 = df.copy().iloc[:16:2,:]
df_3['c_rate'] = [.45/200,]*8
P_fr = 100*df['z2'][0]*(1+0.064/2)
df_3['c'] = df_3['c_rate']*df_3['z2']*100
P2_ = P_fr+df_3['c'].sum()


df_4 = df.iloc[18,:]
P3_ = df_4['z2']*100

In [56]:
(P1_*N1+P2_*N2-P3_*N3)

9.626829271345741